.grid {
    display: grid;
    grid-gap: 10px;
    grid-template:
      "a   b" 100px
      "c   d" 100px /
      1fr  1fr;
  }
  
  .cell-A {
    grid-area: a;
  }
  
  .cell-B {
    grid-area: b;
  }
  
  .cell-C {
    grid-area: c;
  }
  
  .cell-D {
    grid-area: d;
  }